<div class="form-group">
  <input type="text" class="form-control" name="user[username]" placeholder="Enter user name" required autofocus>
  <input type="password" class="form-control" name="user[password]" placeholder="Password" required>
</div>
