<div class="banner">
  Welcome
</div>

<div class="content">
  <%= @message if @message %>

  <form action="/users" method="post">
    Username: <input type="text" name="user[username]"><br><br>
    Password: <input type="password" name="user[password]"><br><br>
    <input type="submit" value="Let's be friends!">
  </form>
</div>
