<div class="banner">
  <h3>Welcome</h3>
</div>

<div class="content">
  <h5 style="color:red"><%= @message if @message %></h5>

  <form action="/login" method="post">
    Username: <input type="text" name="user[username]"><br><br>
    Password: <input type="password" name="user[password]"><br><br>
    <input type="submit" value="Login">
  </form>
  <br><br><hr><br><br>

  Have we met before? If not <a href="/users/new">say hi</a>.

</div>
