<div id="banner">
  <%= @current_subject %>
</div>

<div id="content">

<%= @current_card.question  %>
<br />
<form method="post" action="/attempts">
<input type="text" name="answer">
<input type="submit" value="Submit">
</form>

</div>






























