
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center"><%= @current_subject %></h1><br><br>
    <div class="row">
      <div class="col-lg-6">
        <p><%= @current_card.question %></p>
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <form action="/attempts" method="post">
            <input type="text" class="form-control" name="answer" placeholder="Your Answer..." autofocus>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
