<div id="banner">
  Your All-Time Stats
</div>

<div id="content">
  <%@rounds.each do |round|%>
  <p><%=round%></p>
  <%end%>
</div>

<form method="get" action="/decks">
  <input type="submit" value="Want More?">
</form>
